{%extends "base.html"%}
{%block title%}Home - {{blogInfo.owner}}{%endblock%}

{%block content%}

				<div class="thumbnail tile fluid article-container">
					<div class="title highlight" style="border-bottom:1px solid #E3E7E8;">
						<p class="text-center h4 ">Left aligned text.</p>
					</div>
					<div class="article-content">sdf</div>
					<div class="row article-bottom">
						<div class="col-md-7">
						    <button type="button" class="col-md-4 btn btn-primary btn-lg pull-right"  > Read </button>
						</div>
						<div class="col-md-5">
						    Visitor: &nbsp;Create Date: &nbsp;Author: &nbsp;&nbsp;&nbsp;
						</div>
					</div>
				</div>
				<div class="thumbnail tile fluid article-container">
					<div class="title highlight" style="border-bottom:1px solid #E3E7E8;">
						<p class="text-center h4 ">Left aligned text.</p>
					</div>
					<div class="article-content">sdf</div>
					<div class="row article-bottom">
						<div class="col-md-7">
						    <button type="button" class="col-md-4 btn btn-primary btn-lg pull-right"  > Read </button>
						</div>
						<div class="col-md-5">
						    Visitor: &nbsp;Create Date: &nbsp;Author: &nbsp;&nbsp;&nbsp;
						</div>
					</div>
				</div>

{%endblock%}